<div class="inicio-container">
    <div class="overlay"></div>
    <div class="content animate-fade">
      <img src="../../../../assets/imagenes/NovalogoBlack.png" alt="Logo Nova Cuisine" class="logo animate-up">
      
      <h1 class="titulo animate-up">Nova Cuisine</h1>
      <p class="eslogan animate-up">Excelencia y sabor en cada detalle.</p>
  
      <p class="descripcion animate-up">
        Sistema de gestión integral para cobros, estudiantes y reportes.
      </p>
      <!--<button routerLink="/dashboard/admin" class="btn-acceder animate-up">
        Entrar al Panel
      </button> -->
    </div>
  </div>
  